<div class="field">
	<%= f.attribute_fields do |a| %>
		<%= a.attribute_select({associations: [:category]},{class:'form-control form-size d-inline custom-select'}) %>             
	<% end %>                                           
	<%= f.predicate_select({only: [:cont, :lteq, :gteq]},{class:'d-inline form-inline form-size form-control custom-select'})%>
	<%= f .value_fields do |v| %>                          
		<%= v.text_field :value, class:"form-control d-inline form-size form-inline" %>   
	<%end%>
	<%= link_to "Remover", '#', class:"remove_fields btn btn-danger"%>
</div> 