
<%= form_for(@register, remote: true) do |f|%>
<% @register.errors.full_messages.each do |mesage|%>
<div class="container" style="color: red">
	* <%= mesage %>
</div>
<%end%>

<div class="space-top-lg rounded-div p-3" style="background-color: white; width: 95%; margin: 0 auto;">
	<div class="container-form form-group ">

		<label>Categorías</label><br>
		<%= f.select(:category_id, [['Agua', 1],['Luz',2],['Teléfono',3],['Gas',4]], {}, { :class=> 'form-control', id: "selectCategories", onchange: "categories()"}) %>

		<label class="space-top-md">Medida</label>
		<%= f.text_field :medida, placeholder: "Medida", class: "form-control d-inline form-inline form-size", id:"medidaRegister", value: "m3", disabled: true%>

		<label class="space-top ml-5">Consumo</label>
		<%= f.text_field :consumo, class: "form-control d-inline form-size"%><br>

		<label class="space-top">Monto</label>
		<%= f.number_field :monto, placeholder: "$", class: "form-control"%>

		<label class="space-top">Costos adicionales</label>
		<%= f.number_field :costos_adicionales, placeholder: "Costos adicionales", class: "form-control", value: 0 %>

		<label class="space-top">Fecha</label>
		<%= f.date_field :fecha, placeholder: "Tipo", class: "form-control input-daterange"%>

		<label class="space-top">Descripción</label>
		<%= f.text_area :descripcion, placeholder: "Descripción", class: "form-control space-top", style: "height: 100px"%>
		<%= f.submit "Aceptar", class: "btn btn-success form-control space-top", style: "width: 200px; margin-top: 10px;"%>

		<%end%>
	</div>
</div>

<script>
    $('.input-daterange').datepicker({
        format: 'yyyy-mm-dd'
    });
</script>


