<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document" style="width: 800px" >
		<div class="modal-content mx-auto justify-content-center rounded-div">
			<div class="modal-header bg-dark text-white">
				<h4 class="modal-title p-2" id="exampleModalLongTitle">Registro</h4>
				<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-4">

				<div class="container rounded-div" style="background-color: #fff;">
					<% if @register.category.name.eql?('Agua') %>
						<h4 class="modal-title" id="exampleModalLongTitle"> Categoría del registro: <i class="fas fa-tint ml-2 text-primary" data-toggle="tooltip" title="Agua" style="font-size: 30px;"></i></h4>
					<% elsif @register.category.name.eql?('Luz') %>
						<h4 class="modal-title" id="exampleModalLongTitle">Categoría del registro: <i class="fas fa-lightbulb ml-2" data-toggle="tooltip" title="Luz" style="color: #F9E237; font-size: 30px;"></i></h4>
					<% elsif @register.category.name.eql?('Teléfono') %>
						<h4 class="modal-title" id="exampleModalLongTitle">Categoría del registro: <i class="fas fa-phone ml-2" data-toggle="tooltip" title="Teléfono" style="font-size: 30px; color: #72B441;"></i></h4>
					<% else %>
						<h4 class="modal-title" id="exampleModalLongTitle">Categoría del registro: <i class="fas fa-burn ml-2" data-toggle="tooltip" title="Gas" style="color: #F48039; font-size: 30px;"></i></h4>
					<% end %>
					<hr>
					<h4>Fecha del registro: <%= @register.fecha.strftime("%m/%d/%Y") %></h4>
					<hr>
					<h4>Monto del registro: <%= @register.monto %></h4>
					<hr>
					<% if @register.consumo > 0 %>
						<h4>Consumo: <%= @register.consumo %> - <%= @register.medida %> </h4>
						<hr>
					<% end %>
					<h4>Costos adicionales: <%= @register.costos_adicionales %></h4>
					<hr>
					<h4>Descripción: </h4>
					<h5 class="p-2"> <%= @register.descripcion%> </h5>
				</div>

			</div>
		</div>
	</div>