<%= javascript_include_tag "highcharts", "chartkick" %>

    <div class="rounded-div mt-5 p-1" style="background-color: white; width: 95%; margin: 0 auto;">
        <h2 class="text-center mt-5">Comparar registros </h2>


        <%= search_form_for @searchCompare, url: search_registers_path,
        html: { method: :post } do |f| %>
        <div class="input-group space-top-xl">
            <div class="row align-items-center container-fluid">
                <div class="col-sm-6 d-inline mb-4">
                    <div class="container">
                    <%= f.text_field :fecha_gteq, class:" input-daterange2 input-sm d-inline font-lg text-center", placeholder: "Fecha mayor o igual a "%>
                    </div>
                </div>
                <div class="col-sm-6 d-inline mb-4" >
                    <div class="container">
                    <%= f.text_field :fecha_lteq, class:"input-daterange input-sm d-inline font-lg text-center", placeholder: "Fecha menor o igual a "%>
                    </div>
                </div>
                <div class="col-md-auto d-inline mt-3" style="margin: 0 auto;">
                    <button type="submit" class="btn btn-success">Buscar</button>
                </div>
            </div>

        </div>
        <hr/>

        <%end%>

    <%if @registers %>

    <div class="table-responsive p-3 rounded-div mt-4" style="background-color: white; width: 95%; margin: 0 auto;">

    <%@registers.each do |register|%>
    <table class="table space-top-lg margin-registers hoverable" style="border: 2px solid rgba(159, 150, 148, 0.6);">
        <thead class="bg-dark text-white font-weight-bold">
            <tr>
                <th class="text-center font-md font-weight-bold" style="width: 15%">Tipo</th>
                <th class="text-center font-md font-weight-bold" style="width: 15%">Valor</th>
                <th class="text-center font-md font-weight-bold" style="width: 15%">Fecha</th>
                <th class="text-center font-md font-weight-bold" style="width: 15%">Costos adicionales</th>
                <th class="text-center font-md" colspan="3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center font-md"><%= register.category.name%></td>
                <td class="text-center font-md"><%= register.monto%> $</td>
                <td class="text-center font-md"><%= register.fecha%></td>
                <td class="text-center font-md"><%= register.costos_adicionales%> $</td>
                <td class="text-center font-md"><%= link_to register, class:"no-decoration", remote: true do %>
                    <i class="fa fa-eye "></i>
                    Ver registro
                    <% end %></td>
                    <td class="text-center font-md"><%= link_to edit_register_path(register), class:"no-decoration" do%>
                        <i class="fa fa-edit"></i>
                        Editar
                        <%end%></td>
                        <td class="text-center font-md"><%= link_to register, method: :delete, remote: true, class:"no-decoration", data: { confirm: '¿Estás seguro?', } do %>
                            <i class="fa fa-trash"></i>
                            Eliminar
                            <%end%></td>

                        </tr>
                        <%end%>
                    </tbody>

                </table>
            </div>

    <%if @registers.count > 0%>
        <h2 class="text-center mt-5"> Gráfica comparativa </h2>
        <div class="container mt-2">
            <%= line_chart @registers.group(:fecha).group_by_month(:fecha).sum(:monto), xtitle: "Fecha", ytitle: "Monto", download: true %>
        </div>
    <%end%>
 <%end%>

</div>


<script>
    $('.input-daterange').datepicker({
        format: 'yyyy-mm-dd'
    });

    $('.input-daterange2').datepicker({
        format: 'yyyy-mm-dd'
    });
</script>
