<div class="space-top-lg rounded-div p-3" style="border: 2px solid rgba(159, 150, 148, 0.6); background-color: white; width: 95%; margin: 0 auto;">
	<h2 style="margin-bottom: 50px">Registros</h2>
	<h4>Buscar registros</h4>
	<%= search_form_for @search do |f| %>
	<%= f.condition_fields do |c| %>
	<%= render "condition_fields", f: c%>
	<%end %>
	<p class="space-top btn">
		<%= link_to_add_fields "Añadir condición de busqueda", f, :condition%>
	</p>
	<div class="actions">
		<%= f.submit class:"btn btn-success" %>
		<%= link_to "Reiniciar búsqueda", registers_path, class:"btn btn-info" %>
	</div>
	<% end %>
</div>

<div class="table-responsive p-3 rounded-div mt-4" style="background-color: white; width: 95%; margin: 0 auto;">

	<%= link_to "Crear nuevo registro", new_register_path, class:"btn btn-success btnColor btn-md hoverable font-sm"%></%>

	<%@registers.each do |register|%>
	<table class="table space-top-lg margin-registers hoverable" style="border: 2px solid rgba(159, 150, 148, 0.6);">
		<thead class="bg-dark text-white font-weight-bold">
			<tr>
				<th class="text-center font-md font-weight-bold" style="width: 15%">Tipo</th>
				<th class="text-center font-md font-weight-bold" style="width: 15%">Valor</th>
				<th class="text-center font-md font-weight-bold" style="width: 15%">Fecha</th>
				<th class="text-center font-md font-weight-bold" style="width: 15%">Costos adicionales</th>
				<th class="text-center font-md" colspan="3">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center font-md"><%= register.category.name%></td>
				<td class="text-center font-md"><%= register.monto%> $</td>
				<td class="text-center font-md"><%= register.fecha%></td>
				<td class="text-center font-md"><%= register.costos_adicionales%> $</td>
				<td class="text-center font-md"><%= link_to register, class:"no-decoration", remote: true do %>
					<i class="fa fa-eye "></i>
					Ver registro
					<% end %></td>
					<td class="text-center font-md"><%= link_to edit_register_path(register), class:"no-decoration" do%>
						<i class="fa fa-edit"></i>
						Editar
						<%end%></td>
						<td class="text-center font-md"><%= link_to register, method: :delete, remote: true, class:"no-decoration", data: { confirm: '¿Estás seguro?', } do %>
							<i class="fa fa-trash"></i>
							Eliminar
							<%end%></td>

						</tr>
						<%end%>
					</tbody>

				</table>

				<div class="mt-4 mb-4">
					<%= link_to '' do %>
					<a href="" class="no-decoration font-md" onclick="report()"><i class="fas fa-file-pdf"></i> Generar PDF</a>

					<%end%>
				</div>

				<div class="container space-top-md">
					<%= will_paginate @registers, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: "paginacion" %>
				</div>

			</div>
			<script>

				function report(){
					var str = window.location.href;
					var reportUrl = str.replace('registers', 'registers.pdf');
					window.location.href = reportUrl;
				}


			</script>

			<script>


				jQuery(function() {
					$('form').on('click', '.remove_fields', function(event) {
						$(this).closest('.field').remove();
						event.preventDefault();
					});

					$('form').on('click', '.add_fields', function(event) {
						const time = new Date().getTime();
						const regexp = new RegExp($(this).data('id'), 'g');

						$(this).closest('p').before($(this).data('fields').replace(regexp, time));
						event.preventDefault();
					});
				});



			</script>