
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<h1 style="text-align: center;">Reporte de registros</h1>
	<div style="margin-top: 50px; font-size: 18px;">
		<table class="table table-bordered" style="width: 100%">
			<thead>
				<tr style="text-align: center">
					<th>Tipo</th>
					<th>Monto</th>
					<th>Fecha</th>
					<th>Costos adicionales</th>
				</tr>
			</thead>
			<tbody>
				<%@registers.each do |register|%>
				<tr style="text-align: center; margin-top: 100px ">
					<td style="margin-top: 100px;"><%= register.category.name%></td>
					<td class="text-center font-md"><%= register.monto%> $</td>
					<td class="text-center font-md"><%= register.fecha%></td>
					<td class="text-center font-md"><%= register.costos_adicionales%> $</td>
				</tr>
				<%end%>
			</tbody>
		</table>
	</div>	
