<div class="modal fade "  id="sign_up" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="container modal-content p-3">
      <div class="modal-header bg-dark text-white">
        <h3 class="modal-title" id="exampleModalLongTitle">Crear cuenta</h3>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html =>{ class: 'needs-validation', id: 'user_login'} ) do |f| %>
        <%if devise_error_messages! %>


        <%end%>

        <div class="container md-form space-top-md ">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", id: "inputEmail2", style: 'width: 92%; display: inline'%>
          <a class="pt-5" data-toggle='tooltip' title='Asegúrate de ingresar un correo al que puedas acceder' style="font-size: 19px">
            <i class='fa fa-question-circle question-icon'></i>
          </a>

          <div class="valid-feedback font-md">
            Email válido
          </div>
          <div class="invalid-feedback font-md">
            Email inválido
          </div>
        </div>

        <div class="container md-form">

          <% if @minimum_password_length %>

          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control",placeholder:"Contraseña", id:"inputPass2" %>
          <div class="valid-feedback font-md">
            Contraseña válida
          </div>
          <div class="invalid-feedback font-md">
            Contraseña inválida
          </div>
          <span>(6 carácteres mínimos)</span>
        </div>

        <div class="container md-form space-top-md">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder:"Confirmar contraseña", id:"inputPass" %>
          <div class="valid-feedback font-md">
            Las contraseñas coinciden
          </div>
          <div class="invalid-feedback font-md">
            Las contraseñas no coinciden
          </div>
        </div>

        <div class="container md-form">
          <%= f.submit "Crear cuenta", class: "d-block mx-auto form-control space-top btn btn-success" %>
        </div>
        <% end %>
      </div>
      <div class="modal-footer d-inline">
        <span>¿Ya tienes una cuenta?</span><%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'validations'%>


