<div class="space-top-md rounded" style="background-color: white; width: 96%; margin: 0 auto; padding: 30px;">
  <h2 class="container"><i class="fas fa-user-circle" style="color: #70C233; font-size: 45px;"></i> Mi cuenta</h2>
  <hr>

  <%= form_for(resource, as: resource_name, remote: true, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="container space-top-lg">
    <%= f.label :email,class:"font-md" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="container space-top-md">
    <%= f.label "Contraseña", class:"font-md" %> <i class="font-md">(Déjala en blanco si no quieres cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Nueva contraseña" %>
    <% if @minimum_password_length %>

    <em><%= @minimum_password_length %> carácteres mínimo</em>
    <% end %>
  </div>

  <div class="container space-top-md">
    <%= f.label "Confirmar contraseña", class:"font-md" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirmar nueva contraseña" %>
  </div>

  <div class="container space-top-md">
    <%= f.label "Contraseña actual",class:"font-md" %> <i class="font-md">(Necesitamos tu contraseña actual para guardar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control", placeholder: "Contraseña actual" %>
  </div>

  <div class="container space-top-md">
    <%= f.submit "Actualizar", class:"btn btn-success hoverable" %>
  </div>
  <% end %>

  <h3 class="space-top-lg text-danger">Cancelar mi cuenta</h3>
  <hr>
  <div class="container">
    <p class="space-top-lg">Una vez que borres tu cuenta no hay vuelta atrás, sé cuidadoso.</p>
    <p> <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class:"form-control form-size space-bot-sm hoverable text-danger" %></p>
  </div>

</div>