
<%= simple_form_for(@tic_type) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs space-top-lg">
    <%= f.input :name  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Atrás', tic_types_path, class: 'btn bg-dark text-white' %>
  </div>
<% end %>
