<h2 class="space-top-md">Tipos de tickets</h2>

<table class="table table-hover table-striped table-bordered space-top-md text-center">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tic_types.each do |tic_type| %>
      <tr>
        <td><%= tic_type.name %></td>
        <td class="btn btn-warning btn-md"><%= link_to 'Edit', edit_tic_type_path(tic_type) %></td>
        <td class="btn btn-danger btn-md"><%= link_to 'Destroy', tic_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tic Type', new_tic_type_path, class: 'btn btn-success' %>

