  <section id="footer" class="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-right text-md-left">
        <div class="col-xs-5 col-sm-5 col-md-5">
          <h5>Spendo</h5>
          <br>
          <p class="text-justify">
            Con este maravilloso software podrás administrar de una mejor forma tus gastos en el área de servicios públicos, con esto nuestros usuarios podrán tomar mejores decisiones de acuerdo a tu presupuesto.¡Pruébalo ahora mismo!

          </p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 offset-md-1">
          <h5>Navegar</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/Index"><i class="fa fa-angle-double-right"></i>Inicio</a></li>
            <li><a href="/registers"><i class="fa fa-angle-double-right"></i>Registros</a></li>
            <li><a href="/About"><i class="fa fa-angle-double-right"></i>Acerca de</a></li>
            <li><a href="/Contact"><i class="fa fa-angle-double-right"></i>Contáctenos</a></li>
          </ul>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 ">
          <h5>Acerca de</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/About"><i class="fa fa-angle-double-right"></i>Spendo</a></li>
            <li><a href="https://www.linkedin.com/in/esteban-saldarriaga-alzate-77a076177/" target="_blank"><i class="fa fa-angle-double-right"></i>Desarrollador</a></li>
            <li><a href="/mobile"><i class="fa fa-angle-double-right"></i>Spendo App</a></li>
          </ul>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2">
          <ul class="list-unstyled list-inline social text-center">

            <li class="list-inline-item">
              <span class="icon-circle">
                <a href="https://www.facebook.com" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </span>
            </li>

            <li class="list-inline-item">
              <span class="icon-circle">
                <a href="https://www.twitter.com" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </span>
            </li>

            <li class="list-inline-item">
              <span class="icon-circle">
                <a href="https://www.instagram.com" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </span>
            </li>

            <li class="list-inline-item">
              <span class="icon-circle">
                <a href="https://www.googleplus.com" target="_blank">
                  <i class="fab fa-google-plus"></i>
                </a>
              </span>
            </li>

            <li class="list-inline-item">
              <span class="icon-circle">
                <a href=" mailto:estebansa@outlook.com">
                  <i class="fa fa-envelope"></i>
                </a>
              </span>
            </li>

          </ul>
        </div>
      </hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>Powered by Esteban Saldarriaga Alzate - ADSI</p>
      </div>
    </hr>
  </div>
</div>
</section>