 <header>
  <%if user_signed_in?%>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navBar" >
    <a class="navbar-brand ml-3 d-none d-md-block" href="/registers"">
      <%= image_tag('Logo.png', width: 90, height: 40)%>
    </a>
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapseLoged" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="headerCollapseLoged">
        <div class="navbar-nav">
          <%if current_user.is_admin?%>
          <li class="d-none d-block d-md-none">
            <a class="nav-link nav-item no-decoration text-white dropdown-toggle" data-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false" aria-controls="collapseAdmin">
              Auditoría <i class="fas fa-key"></i>
            </a>
            <div class="collapse" id="collapseAdmin">
              <a href="/admin" class="dropdown-item bg-dark text-white">Panel de administrador <i class="fas fa-users-cog"></i></a>
              <a href="https://analytics.google.com/analytics/web/?authuser=0#/report-home/a134704754w194767135p190117518" class="dropdown-item bg-dark text-white" target="_blank">Analytics <i class="fas fa-chart-bar"></i></a>
            </div>
          </li>
          <!-- Normal and big screens  -->
          <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-item nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Auditoría <i class="fas fa-key ml-1 text-light"></i>
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a href="/admin" class="dropdown-item bg-dark text-white">Panel de administrador <i class="fas fa-users-cog"></i></a>
              <a href="https://analytics.google.com/analytics/web/?authuser=0#/report-home/a134704754w194767135p190117518" class="dropdown-item bg-dark text-white" target="_blank">Analytics <i class="fas fa-chart-bar"></i></a>
            </div>
          </li>
          <%end%>

          <a href="/Compare" class="no-decoration nav-item nav-link text-white">Comparar Registros <i class="fas fa-chart-bar ml-1"></i></a>
          <%= link_to tickets_path, class: 'no-decoration nav-item nav-link text-white' do %>
            PQRS
            <i class="fas fa-info-circle ml-1"></i>
          <% end %>
          <a href="/mobile" class="no-decoration nav-item nav-link text-white">Spendo App  <i class="fas fa-mobile-alt ml-1"></i></a>
          <div class="dropdown-divider"></div>
          <%= link_to "Cuenta", edit_user_registration_path, class: " d-none d-block d-md-none nav-l nav-item text-white" %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "no-decoration nav-l nav-item d-none d-block d-md-none space-top", style:"color: white"%>
        </div>
      </div>
    </div>

    <div class="dropdown d-none d-md-flex">
      <a href="#" class="nav-link nav-item no-decoration text-white" data-toggle="dropdown" style="display: inherit;">Cuenta  <i class="fas fa-user-circle ml-2" style="margin-top: 2px;"></i></a>

      <div class="dropdown-menu bg-dark" >
        <%= link_to "Configuración", edit_user_registration_path, class: " text-white dropdown-item nav-item bg-dark" %>
        <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "text-white nav-item dropdown-item bg-dark"%>
      </div>

    </div>
  </nav>

  <%else%>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navBar">
    <a class="navbar-brand ml-3 d-none d-md-block" href="/">
      <%= image_tag('Logo.png', width: 90, height: 40)%>
    </a>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapse" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="headerCollapse">
        <div class="navbar-nav nav-item">
          <li class="nav-item">
            <%= link_to "/Contact", class:"nav-item nav-link" do %>
              Contáctenos
              <i class="fas fa-address-book ml-1"></i>
            <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "/About", class:"nav-item nav-link" do%>
                Acerca de
                <i class="fas fa-question ml-1"></i>
              <% end %>
            </li>
            <a href="/mobile" class="no-decoration nav-item nav-link text-white">Spendo App  <i class="fas fa-mobile-alt ml-1"></i></a>
            <li class="nav-item">
              <%= link_to "", "data-toggle" => "modal", "data-target" => "#login", :class => 'nav-item nav-link d-none d-block d-md-none' do %>
                Iniciar sesión
                <i class="fas fa-sign-in-alt"></i>
              <% end %>
            </li>
            <div class="text-align-right navbar-nav">
             <%= link_to "#sign_up", "data-toggle" => "modal", "data-target" => "#sign_up", :class => 'nav-item nav-link d-none d-block d-md-none no-decoration text-white' do %>
              Crear cuenta
              <i class="fas fa-user-plus ml-1 mt-1"></i>
             <% end %>
           </div>
         </div>
       </div>

       <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <%= link_to "", "data-toggle" => "modal", "data-target" => "#login", :class => 'nav-item nav-link d-none d-lg-flex', id: 'login_index' do %>
            Iniciar sesión
            <i class="fas fa-sign-in-alt ml-1 mt-1"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "", "data-toggle" => "modal", "data-target" => "#sign_up", :class => 'nav-item nav-link d-none d-lg-flex' do %>
            Crear cuenta
            <i class="fas fa-user-plus ml-1 mt-1"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
  <%end%>
</header>

