<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and JavaScripts
%>

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <title>
    <%= content_for(:title) %> - <%= Rails.application.class.parent_name.titlecase %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <%= favicon_link_tag 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Twemoji_1f4b0.svg/480px-Twemoji_1f4b0.svg.png' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
  <%= render "stylesheet" %>
  <%= csrf_meta_tags %>

  <style>
  *{
    font-family: 'Poppins', sans-serif;
  }
  .nav-l{
    text-decoration: none;
    color: white;
    opacity: 0.8!important;
  }
  .nav-font-color{
    color: white;
  }
  .nav-l:hover {
    color: white;
    background-color: inherit;
    opacity: 1!important;
    text-decoration: none;
  }
</style>

</head> <header>
  <%if user_signed_in?%>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navBar" >
    <a class="navbar-brand ml-3 d-none d-md-block" href="/registers"">
      <%= image_tag('Logo.png', width: 90, height: 40)%>
    </a>
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapseLoged" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="headerCollapseLoged">
        <div class="navbar-nav">
          <%if current_user.is_admin?%>
          <li class="d-none d-block d-md-none">
            <a class="nav-link nav-item no-decoration text-white dropdown-toggle" data-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false" aria-controls="collapseAdmin">
              Auditoría <i class="fas fa-key"></i>
            </a>
            <div class="collapse" id="collapseAdmin">
              <a href="/admin" class="dropdown-item bg-dark text-white">Panel de administrador</a>
              <a href="/Console" class="dropdown-item bg-dark text-white">Consola</a>
            </div>
            <a class="nav-item nav-link" href="/admin/tickets" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PQRS <i class="fas fa-key ml-1 text-light"></i>
            </a>
          </li>
          <!-- Normal and big screens  -->
          <li class="nav-item dropdown d-none d-md-block">
            <a class="nav-item nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Auditoría <i class="fas fa-key ml-1 text-light"></i>
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <a href="/admin" class="dropdown-item bg-dark text-white">Panel de administrador</a>
            </div>
          </li>
          <%end%>

          <a href="/Compare" class="no-decoration nav-item nav-link text-white">Comparar Registros <i class="fas fa-chart-bar ml-1"></i></a>
          <a href="/tickets" class="no-decoration nav-item nav-link text-white">PQRS  <i class="fas fa-info-circle ml-1"></i></a>
          <div class="dropdown-divider"></div>
          <%= link_to "Cuenta", edit_user_registration_path, class: " d-none d-block d-md-none nav-l nav-item text-white" %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "no-decoration nav-l nav-item d-none d-block d-md-none space-top", style:"color: white"%>
        </div>
      </div>
    </div>

    <div class="dropdown d-none d-md-flex">
      <a href="#" class="nav-link nav-item no-decoration text-white" data-toggle="dropdown" style="display: inherit;">Cuenta  <i class="fas fa-user-circle ml-2" style="margin-top: 2px;"></i></a>

      <div class="dropdown-menu bg-dark" >
        <%= link_to "Configuración", edit_user_registration_path, class: " text-white dropdown-item nav-item bg-dark" %>
        <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "text-white nav-item dropdown-item bg-dark"%>
      </div>

    </div>
  </nav>

  <%else%>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navBar">
    <a class="navbar-brand ml-3 d-none d-md-block" href="/">
      <%= image_tag('Logo.png', width: 90, height: 40)%>
    </a>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapse" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="headerCollapse">
        <div class="navbar-nav nav-item">
          <li class="nav-item">
            <%= link_to "Contáctenos", "/Contact", class:"nav-item nav-link"%></li>
            <li class="nav-item">
              <%= link_to "Acerca de", "/About", class:"nav-item nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Iniciar sesión", "", "data-toggle" => "modal", "data-target" => "#login", :class => 'nav-item nav-link d-none d-block d-md-none' %>
            </li>
            <div class="text-align-right navbar-nav">
             <%= link_to "Crear cuenta", "#sign_up", "data-toggle" => "modal", "data-target" => "#sign_up", :class => 'nav-item nav-link d-none d-block d-md-none' %>
           </div>
         </div>
       </div>

       <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <%= link_to "Iniciar sesión", "", "data-toggle" => "modal", "data-target" => "#login", :class => 'nav-item nav-link d-none d-lg-flex', id: 'login_index' %>
        </li>
        <li class="nav-item">
          <%= link_to "Crear cuenta", "#sign_up", "data-toggle" => "modal", "data-target" => "#sign_up", :class => 'nav-item nav-link d-none d-lg-flex' %>
        </li>
      </ul>
    </div>
  </nav>
  <%end%>
</header>


<div class="container">
  <%= render "icons" %>

  <div class="app-container">
    <%= render "navigation" -%>

    <main class="main-content" role="main">
      <%= render "flashes" -%>
      <%= yield %>
    </main>
  </div>

  <%= render "javascript" %>
</div>
</body>
</html>
