<div class="container">
	<h2 class="space-top-md"><%= t('.change_your_password', :default => 'Cambiar contraseña') %></h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= devise_error_messages! %>
	<%= f.hidden_field :reset_password_token %>

	<div><%= f.label :password, t('.new_password', :default => 'Contraseña nueva') %><br />
		<%= f.password_field :password, :class => 'form-control'%></div>

		<div><%= f.label :password_confirmation, t('.confirm_new_password', :default => 'Confirmar contraseña nueva') %><br />
			<%= f.password_field :password_confirmation, :class => 'form-control' %></div>

			<div><%= f.submit t('.change_my_password', :default => 'Confirmar'), :class => 'btn btn-success' %></div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>