<div class="container space-top-lg">
	<h2><%= t('.forgot_your_password', :default => '¿Olvidaste tu contraseña?') %></h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	<%= devise_error_messages! %>

	<div class="space-top-md"><%= f.label :email %><br />
		<%= f.email_field :email, class: "form-control form-size" %></div>

		<div class="space-top"><%= f.submit t('.send_me_reset_password_instructions', :default => "Reestablecer mi contraseña"), class:"form-control form-size btn btn-success" %></div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
