<div class="rounded-div mt-4 p-4" style="background-color: white; width: 95%; margin: 0 auto;">
	<div class="d-flex justify-content-center">
		<img src="<%= asset_path 'eidos.png'%>" alt="Logo de la empresa" class="
		align-items-center d-none d-md-block" style="width: 30%; height: 40%">
		<img src="<%= asset_path 'eidos.png'%>" alt="Logo de la empresa" class="
		align-items-center d-block d-md-none" style="width: 60%; height: 40%">
	</div>

	<div class="container space-top-lg">
		<h1 class="text-center">¿Quiénes somos?</h1><br>
		<p class="font-lg text-justify pl-2 pr-2">Somos un grupo de desarrolladores y analistas a los que les apasionar progarmar, estamos encargados de desarrollar todas las aplicaciones de <a href="#" class="text-info no-decoration">EIDOS S.A. </a>Buscamos ayudar a las personas con sus problemas del día a día mediante nos sea posible por medio de la tecnología.
		</p><br><br>

		<h1 class="text-center">Developers</h1><br>

		<div class="card">
			<img src="<%= asset_path 'acerca_de.jpg'%>" alt="Desarrollador" style="width: 100%">
			<h1>Esteban Saldarriaga</h1>
			<p class="title">Analista y desarrollador</p>
			<a href="http://oferta.senasofiaplus.edu.co/sofia-oferta/" target="_blank" class="no-decoration">SENA</a>
			<div class="mt-3 mb-4">
				<a href="https://www.instragram.com" target="_blank"><i class="fab fa-instagram"></i></a>
				<a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="https://www.reddit.com" target="_blank"><i class="fab fa-reddit"></i></a>
				<a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
			</div>
			<p><button id="contacto">Contacto</button></p>
		</div>
	</div>
</div>

<script type="text/javascript">

	var a = document.getElementById("Notice").innerHTML;
	if(a.length === 0){
		document.getElementById("Notice").style.display = "none";
	} else {
		document.getElementById("Notice").style.display = "block";
	}
</script>

