
<div class="container space-top-lg space-bot-lg animated wow fadeInUp">
	<div class="row">
		<div class="col-md-8">
			<h1 style="font-size: 45px; ">Spendo</h1>
			<p style="font-size: 24px; text-align: justify">Con este maravilloso software podrás administrar de una mejor forma tus gastos en el área de servicios públicos, con esto nuestros usuarios podrán tomar mejores decisiones de acuerdo a tu presupuesto. <br><br>¡Pruébalo ahora mismo!
			</p>
		</div>
		<div class="col-md-4 text-center ">
			<%= image_tag('LogoActualizado.png', style:"width: 250px")%>
		</div>
	</div>
</div>

<!-- <div class="container text-center" style="margin: 0 auto;">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="A625MSZ6JVPAW">
	<input type="hidden" name="on0" value="Opciones de pago">Opciones de pago<select name="os0" class="form-control form-size" style="margin: 0 auto;">
		<option value="Suscripción mensual">Suscripción mensual : $3,00 USD - mensualmente</option>
		<option value="Suscripción anual">Suscripción anual : $20,00 USD - mensualmente</option>
	</select>
	<input type="hidden" name="currency_code" value="USD">
	<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
	<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
</form>
</div> -->

<div class="animated wow fadeInUp m">
	<div class="jumbotron text-center hoverable p-4 space-top-xl text-white rounded-div" style="background-image: url(<%= asset_path 'jumbo_background1.jpg' %>); width: 92%; margin: 40px auto; ">
		<div class="row ">
			<div class="col-md-4 offset-md-1 mx-3 my-3 ">
				<div class="view overlay">
					<img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid rounded" alt="Sample image for first version of blog listing">
					<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
			</div>

			<div class="col-md-7 text-md-left ml-3 mt-3">
				<a href="#!" class="green-text">
					<!-- <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> Work</h6> -->
				</a>
				<h3 class="h3 mb-4 text-dark">Nuestra misión</h3>
				<p class="font-md font-weight-bold text-dark">Nuestra misión es que las personas de toda el área de Medellín, ya sean de cualquier estrato económico puedan tomar mejores decisiones con respecto a sus servicios públicos por medio de nuestro software.</p>
				<p class="font-weight-normal space-top-lg font-md text-dark font-weight-bold">by <a href="/About" class="no-decoration"><strong class=" text-dark">Esteban Saldarriaga Alzate</strong></a>, 19/08/2016</p>
			</div>
		</div>
	</div>

	<div class="jumbotron text-center hoverable p-4 rounded-div" style="background-image: url(<%= asset_path 'jumbo_background1.jpg' %>); width: 92%; margin: 40px auto;">
		<div class="row">

			<div class="col-md-7 text-md-left ml-3 mt-3 text-white" >
				<a href="#!" class="green-text">
				</a>
				<h3 class="h3 mb-4 text-dark font-weight-bold">Nuestra visión</h3>
				<p class="font-weight-bold font-md text-dark">Nuestra visión es, no sólo quedarnos en la ciudad de Medellín sino, expandernos a todo el país si es posible; y a un mediano-largo plazo y con los medios necesarios ver la factibilidad de ampliarnos al sector internacional.</p>
				<p class="font-weight-bold space-top-lg font-md text-dark">by <a href="/About" class="no-decoration"><strong  class="text-dark">Esteban Saldarriaga Alzate</strong></a>, 19/08/2016</p>
			</div>

			<div class="col-md-4 offset-md-1 mx-3 my-3">
					<div class="view overlay">
						<img src="https://preska.wideinfo.org/wp-content/uploads/2017/06/thinkstockphotos-477529408-1-1-1.jpg" class="img-fluid rounded " alt="Sample image for first version of blog listing">
						<a>
						<div class="mask rgba-white-slight"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="info container rounded-div hoverable" class="bg-white" style="background-color: white; padding: 50px; width: 92%; margin: 0 auto;">
	<h2 class="text-center space-top-md">Al día de hoy contamos con: </h2>

	<div class="d-flex justify-content-center space-top-md" style="font-size: 25px">
		<div class="text-center pr-5" >
			<i class="fas fa-users"></i>
			<div class="num"><%= @users%></div>
			Usuarios
		</div>

		<div class="text-center">

			<i class="fas fa-file-invoice-dollar"></i>
			<div class="num"><%= @registers%></div>
			Registros
		</div>
	</div>

	<h3 class="text-center space-top-lg">¡Empieza ya con nosotros por un modico precio! <i class="fas fa-money-bill-alt ml-2"></i></h3>
    <div class="image text-center">
      <img src="http://www.secondstep.org/Portals/0/common-img/icon_choose_trust.png" class="text-center" style="margin: 0 auto;">
    </div>
	<div id="paypal-button-container" class="text-center" style="width: 300px; margin: 30px auto;"></div>

</div>
	<script>
		$('.num').counterUp({
		});
	</script>

	<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '3'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        // Call your server to save the transaction
        return fetch('/paypal-transaction-complete', {
          method: 'post',
          body: JSON.stringify({
            orderID: data.orderID
          })
        });
      });
    }
  }).render('#paypal-button-container');
</script>