<div class="rounded-div container mt-4 text-center p-5" style="background-color: white;">
  <h1>¡Spendo cuenta con una app para que sea más cómodo el uso del software en el día a día, pruébala ahora mismo!</h1>
  <div class="container">
    <%= image_tag('source.gif', style: 'width: 400px;') %>
  </div>
  <a class="btn btn-primary" href="https://files.appsgeyser.com/Spendo_8760903.apk" target="_blank">Descargar</a>
</div>