 <header>
  <div class="col-xs-12 d-none d-lg-block" style="">
    <%if user_signed_in?%>
    <div class="" style="position:absolute; left: 40%;top:10px; margin: 0 auto;">
      <%=link_to image_tag('Logo.png', alt: "Logo Spendo", style:"width: 100%; margin: 0 auto; text-align: center"), registers_path%>
    </div>
    <%else%>
    <div class="center-block" style="position:absolute; top:10px; left: 40%; margin: 0 auto;">
      <%=link_to image_tag('Logo.png', alt: "Logo Spendo", style:"width: 100%; margin: 0 auto; text-align: center"), root_path%>
    </div>
    <%end%>

    <%= image_tag('BackgroundHeader.jpg', style:"width: 100%")%>
  </div> 


  <%if user_signed_in?%>

  <%if current_user.is_admin?%>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navBar">
    <div class="container">
      <%= link_to "Inicio", registers_path, class:"navbar-brand no-decoration nav-l"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapseLoged" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="headerCollapseLoged">
        <div class="navbar-nav">
          <%= link_to "Panel de administrador","/admin", class: "no-decoration nav-l nav-item nav-link", style:"color:white" %>                         
          <%= link_to "Comparar Registros", registers_path, class: "no-decoration nav-l nav-item nav-link", style:"color: white"%><span class="sr-only">(current)</span>
          <!--           <%= link_to "Categorías", categories_path, class:"no-decoration nav-item nav-link nav-l", style:"color:white;" %> -->
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "no-decoration nav-l nav-item d-none d-block d-md-none", style:"color: white"%>
        </div>
      </div>

      <div class="text-align-right navbar-nav d-none d-md-flex">
        <a class="nav-item nav-link" href="#" id="loger"><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "no-decoration nav-l", style:"color: white"%></a>
      </div>
    </div>
  </nav>
  <%else%>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navBar">
    <div class="container">
      <%= link_to "Inicio", registers_path, class:"navbar-brand no-decoration nav-l"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapseLoged" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="headerCollapseLoged">
        <div class="navbar-nav">
          <% @categories.each do |category| %>
          <%=link_to category.name, category, class: "no-decoration nav-item nav-link nav-l", style: "color: white"%>
          <%end%>                         
          <%= link_to "Comparar Registros", registers_path, class: "no-decoration nav-l nav-item nav-link", style:"color: white"%><span class="sr-only">(current)</span>          
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "no-decoration nav-l nav-item d-none d-block d-md-none", style:"color: white"%>
        </div>
      </div>

      <div class="text-align-right navbar-nav d-none d-md-flex">
        <a class="nav-item nav-link" href="#" id="loger"><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "no-decoration nav-l", style:"color: white"%></a>
      </div>
    </div>
  </nav>

  <%end%>
  

  <%else%>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navBar">
    <div class="container">  
      <%= link_to "Inicio", root_path, class:"navbar-brand no-decoration nav-l"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapse" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="headerCollapse">
        <div class="navbar-nav">
          <%= link_to "Contáctenos", "/Contact", class:"nav-item nav-link"%>  
          <%= link_to "Acerca de", "/About", class:"nav-item nav-link"%>
          <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-item nav-link d-none d-block d-md-none"%>
          <div class="text-align-right navbar-nav">
            <%= link_to "Crear cuenta", new_user_registration_path, class: "nav-item nav-link d-none d-block d-md-none"%>
          </div>
        </div>
      </div>

      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-item nav-link d-none d-lg-flex"%>
        </li>
        <li class="nav-item">
          <%= link_to "Crear cuenta", new_user_registration_path, class: "nav-item nav-link d-none d-lg-flex"%>        
        </li>
      </ul>
    </div>
  </nav>

  <%end%>
</header> 