
<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs space-top-lg text-center">
    <div class="row">

      <div class="col-md-12 m-1">
        <%= f.label 'Título' %>
        <%= f.input :title, label: false, input_html: { style: 'width: 40%; margin: 0 auto;' } %>
      </div>

      <div class="col-md-12 m-1">
        <%= f.label 'Descripción' %>
        <%= f.input :description, label: false, input_html: { style: 'width: 40%; margin: 0 auto;' } %>
      </div>

      <div class="col-md-12 m-1">
        <%= f.label 'Captura' %>
        <%= f.input :screenshot, label: false, as: :file, input_html: { style: 'width: 30%; margin: 0 auto;' } %>
      </div>

      <div class="col-md-12 m-1">
        <%= f.label 'Tipo' %>
        <%= f.association :tic_type, label: false, input_html: { style: 'width: 30%; margin: 0 auto;' } %>
      </div>
    </div>
  </div>
  <div class="form-actions text-center">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Atrás', tic_types_path, class: 'btn bg-dark text-white' %>
  </div>
<% end %>
