<p id="notice"><%= notice %></p>

<div class="container p-3 mb-5 mt-5 rounded-div" style="background-color: white;">
  <h1 class="mb-4 text-center">PQRS</h1>

  <div class="text-center mb-4">
    <img src="http://cdn.onlinewebfonts.com/svg/img_453102.png" alt="Team work" style="width: 150px;">
  </div>

  <p style="font-size: 20px;">En caso de que tengas algún tipo de petición, queja, reclamo o sugerencia, puedes diligenciar el siguiente formulario para hacernoslo saber y enseguida trabajaremos en ello.</p>

  <div class="text-center">
    <%= link_to 'Crear ticket PQRS', new_ticket_path, class: 'btn btn-success', style: 'text' %>
  </div>

</div>

<div class="container p-3 mb-5 mt-5 rounded-div" style="background-color: white;">
  <h1 class="text-center mb-5 mt-1">Mis PQRS</h1>

  <table class="table text-center">
  <thead>
    <tr>
      <th class="font-weight-bold" style="font-size: 17px !important;">Título</th>
      <th class="font-weight-bold" style="font-size: 17px !important;">Descripción</th>
      <th class="font-weight-bold" style="font-size: 17px !important;">Fecha</th>
      <th class="font-weight-bold" style="font-size: 17px !important;">Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td style="font-size: 16px;"><%= ticket.title %></td>
        <td style="font-size: 16px;"><%= ticket.description %></td>
        <td style="font-size: 16px;"><%= ticket.created_at.strftime("%m/%d/%Y") %></td>

        <% if ticket.solved? %>
          <td style="font-size: 16px;"><i class="fa fa-circle" data-toggle="tooltip" title="Este ticket ya ha sido resuelto, gracias por tu colaboración." style="color: #7BD544; font-size: 16px !important"></i> Resuelto</td>
        <% elsif ticket.unsolved? %>
          <td style="font-size: 16px;"><i class="fa fa-circle" data-toggle="tooltip" title="Este ticket no ha sido resuelto." style="color: red; font-size: 16px !important"></i> Sin resolver</td>
        <% else %>
          <td style="font-size: 16px;"><i class="fa fa-circle" data-toggle="tooltip" title="Este ticket está en estado pendiente, en poco tiempo el administrador del sistema le dará solución." style="color: #FDFD68; font-size: 16px !important"></i> Pendiente</td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
