<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs space-top-lg text-center">
    <div class="row">

      <div class="col-md-12 m-1">
        <%= f.label 'Título' %>
        <%= f.input :title, label: false, input_html: { style: 'width: 40%; margin: 0 auto;' } %>
      </div>

      <div class="col-md-12 m-1">
        <%= f.label 'Descripción' %>
        <%= f.input :description, label: false, input_html: { style: 'width: 40%; margin: 0 auto;' } %>
      </div>

      <div class="col-md-12 m-1">
        <% if ticket.screenshot? %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Ver el screenshot
          </button><br>
          <br>
        <% end %>

        <%= f.label 'Captura' %>
        <%= f.input :screenshot, label: false, as: :file, input_html: { style: 'width: 30%; margin: 0 auto;' } %>
      </div>

      <div class="col-md-12 m-1">
        <%= f.label 'Tipo' %>
        <%= f.association :tic_type, label: false, input_html: { style: 'width: 30%; margin: 0 auto;' } %>
      </div>
    </div>
  </div>
  <div class="form-actions text-center">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Atrás', tickets_path, class: 'btn bg-dark text-white' %>
  </div>
<% end %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close-image" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= image_tag ticket.screenshot.url(:thumb), class: 'img-fluid' %>
      </div>
    </div>
  </div>
</div>