<div class="container space-top-lg p-4 rounded-div" style="background-color: white;">
  <h2 class="space-bot-lg mb-4">Tickets</h2>

  <div class="search-form" style="width: 15%;">
    <%= simple_form_for :ticket_params, url: admin_tickets_path, class:'form-inline' , method: :get do |f|%>
      <%= f.label "Estado"%>
      <%= f.input :status_eq, label: false, style: 'width: 100px;', collection: [["Unsolved", 0], ["Solved", 1], ["Pending", 2]]%>
      <%= f.submit 'Search', class: 'btn btn-primary m-0 mb-5' %>
    <% end %>
  </div>

  <% if @tickets.count > 0 %>
    <div class="container">

      <table class="table text-center" style="background-color: white;">
        <thead class="bg-dark text-white font-weight-bold">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Screenshot</th>
            <th>Tipo</th>
            <th colspan="3">Acciones</th>
            <th>Administrar</th>
          </tr>
        </thead>

        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <td><%= ticket.title %></td>
              <td><%= ticket.description %></td>
              <td><%= ticket.status %></td>
              <% if ticket.screenshot? %>
                <td>
                  <a data-toggle="modal" data-target="#exampleModal<%= ticket.id%>">
                    Ver el screenshot
                  </a>
                </td>
              <% else %>
              <td> X </td>
              <% end %>
              <td>
                <% if ticket.tic_type %>
                  <%= ticket.tic_type.name %>
                <% else %>
                  X
                <% end %>
              </td>
              <td>
                <%= link_to edit_admin_ticket_path(ticket), class:'no-decoration'  do %>
                  <i class="fa fa-eye "></i>
                  Ver Ticket
                <% end %>
              </td>
              <td>
                <%= link_to edit_admin_ticket_path(ticket), class:'no-decoration' do %>
                  <i class="fa fa-edit"></i>
                    Editar Ticket
                <% end %>
              </td>
              <td>
                <%= link_to ticket, method: :delete, data: { confirm: 'Are you sure?' }, class:'no-decoration' do %>
                  <i class="fa fa-trash"></i>
                  Eliminar Ticket
                <% end %>
              </td>
              <td>
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 12px;">
                  Cambiar estado
                </button>
                <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item"> <%= link_to('Change to solved', change_status_admin_ticket_path(ticket, new_status: :solved), :data => { :confirm => '¿Estás seguro?' }, method: :patch) %>  </li>
                  <li class="dropdown-item"> <%= link_to('Change to pending', change_status_admin_ticket_path(ticket, new_status: :pending), :data => { :confirm => '¿Estás seguro?' }, method: :patch) %> </li>
                  <li class="dropdown-item"> <%= link_to('Change to unsolved', change_status_admin_ticket_path(ticket, new_status: :unsolved), :data => { :confirm => '¿Estás seguro?' }, method: :patch) %></li>
                </div>
              </td>

            </tr>
             <div class="modal fade" id="exampleModal<%= ticket.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <%= image_tag ticket.screenshot.url(:thumb), class: 'img-fluid' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>


        </tbody>
      </table>

    <%= link_to 'Nuevo Ticket', new_ticket_path, class: 'btn btn-success' %>
  </div>

  <% else %>
      <h1 class="text-center m-5">No hay tickets de este tipo <i class="far fa-frown ml-2" style="font-size: 50px;"></i></h1>
  <% end %>
</div>

