<div class="modal fade "  id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="container modal-content p-3">
      <div class="modal-header bg-dark text-white">
        <h3 class="modal-title" id="exampleModalLongTitle">Iniciar sesión</h3>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="container md-form space-top-md form-inline">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-inline", style: 'width: 100%', placeholder:"Email", id: "inputEmail"%>
        <div class="valid-feedback font-md">
          Email válido
        </div>
        <div class="invalid-feedback font-md">
          Email inválido
        </div>
      </div>

      <div class="container md-form space-top-md">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña", id:"inputPass" %>
        <div class="valid-feedback font-md">
          Contraseña válida
        </div>
        <div class="invalid-feedback font-md">
          Contraseña inválida
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="container">
        <%= f.check_box :remember_me %>
        <%= f.label "Recuérdame" %>
      </div>
      <% end -%>

      <div class="container space-top">
        <%= f.submit "Iniciar sesión", class: "btn btn-success form-control", id: 'iniciar_sesion'%>
      </div>
      <% end %>
    </div>
    <div class="modal-footer d-inline">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>
<%= javascript_include_tag 'validations'%>