*{
    font-family: 'Poppins', sans-serif;
}
html{
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: #F0F0F0 !important;
}
a,a:visited{
	color: black;
}
.space-top{
	margin-top: 1em !important;
}
.space-top-md{
  margin-top: 2em !important;
}
.space-top-lg{
  margin-top: 3em !important;
}
.space-top-xl{
  margin-top: 6em !important;
}
.space-bot-xl{
  margin-bottom: 120px !important;
}
.margin-registers{
  margin-top: 80px;
}
.margin-registers-lg{
  margin-top: 150px;
  margin-bottom: 180px;
  opacity: 0.8;
}
.btnColor, .btnColor:hover{
  color: white !important;
}
.form-size{
  width: auto !important;
}
.form-size-lg{
  width: 130px !important;
}
.font-sm{
  font-size: 14px !important;
}
.font-md{
  font-size: 16px !important;
}
.font-lg{
  font-size: 20px !important;
}
.no-decoration:hover {
	opacity: 0.7;
	text-decoration: none !important;
}
.no-decoration ,.no-decoration:visited {
	color: black;
	text-decoration: none !important;
}

.page-link{
  font-size: 17px !important;
}

/*----- Nav bar y footer---------*/

.nav-l{
  text-decoration: none;
  color: white;
  opacity: 0.8!important;
}
.nav-font-color{
  color: white;
}
.nav-l:hover {
  color: white;
  background-color: inherit;
  opacity: 1!important;
  text-decoration: none;
}
.footer {
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
  background-color: #2E2E2E;
}

.padding-footer{
  padding-right: 70px;
}
.add_fields{

}
.add_fields:hover{
  text-decoration: none;
  opacity: 0.8;
}

/*-------Cardboard de Acerca de-------*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-bottom: 40px;
}

.card .title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #424242;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card button:hover, .card a:hover {
  opacity: 0.7;
}

/*-----------Contacténos------------*/

.btn-facebook{
  background-color: #366DEA;
  opacity: 0.9;
}
.btn-facebook:hover{
  opacity: 1;
}
.btn-contact-size{
    width: 200px;
}

/*--------Tabla de categorías--------- */

.table-categories{
  background-color: #424242;
  color: white;
}

/*------------ Footer ---------------*/

section {
  padding: 5px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 0;
  text-transform: uppercase;
}
#footer {
  background: #2E2E2E ;
}
#footer h5{
 padding-left: 10px;
 border-left: 3px solid #eeeeee;
 padding-bottom: 6px;
 margin-top: 18px;
 margin-bottom: 5px;
 color:#6CAB53;
 font-weight: bold;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;

}
#footer ul.social li{
	padding: 13px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size:18px;

}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
  margin-top: 10px;
	padding: 1px 0;

}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
#footer ul.quick-links li:hover{
	font-weight:700;
}
#footer .icon-circle {
  border-radius: 50%;
  background-color: #2E2E2E;
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
}

#footer .icon-circle i {
  margin-top: 8px;
  margin-left: 5px;
}

#footer .icon-circle:hover {
  background-color: #424242;

  i {
    color: #5DD232;
  }
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

/*--------random---------*/

.page-item {
  background-color: white !important;
}

.rounded-div {
  border-radius: .75em !important;
}

.close-image {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}