<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control form-size" %>
  </div>

  <div class="field form-group">
    <%= form.label :color %>
    <%= form.color_field :color%>
  </div>

  <div class="field form-group">
    <%= form.label :medida %>
    <%= form.text_field :medida, class:"form-control"%>
  </div>

  <div class="actions form-group">
    <%= form.submit "Aceptar", class:"btnColor btn btn-success form-inline " %>
  </div>
<% end %>
