<p id="notice"><%= notice %></p>

<h1>Categorías</h1>

<table class="table table-hover table-bordered space-top">
  <thead>
    <tr class="table-categories">
      <th class="text-center">Name</th>
      <th class="text-center">Color</th>
      <th class="text-center">Medida</th>
      <th colspan="3" class="text-center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td class="text-center"><%= category.name %></td>
      <td class="text-center"><%= category.color %></td>
      <td class="text-center"><%= category.medida %></td>
      <td class="text-center"><%= link_to category, class:"no-decoration" do %>
        <i class="fa fa-eye "></i>
        Registros de esta categoría
        <% end %></td>
        <td class="text-center"><%= link_to edit_category_path(category), class:"no-decoration" do%>
          <i class="fa fa-edit"></i>
          Editar
        <%end%></td>
        <td class="text-center"><%= link_to category, method: :delete, class:"no-decoration", data: { confirm: '¿Estás seguro?', } do %>
          <i class="fa fa-trash"></i>
          Eliminar
        <%end%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nueva categoría', new_category_path, class:"btnColor btn btn-success", style:"" %>
