<p id="notice"><%= notice %></p>
<% if request.original_url === 'http://localhost:3000/categories/1' || request.original_url === 'https://spendoe.herokuapp.com/categories/1' %>
	<%if @registers.where(category_id: 1).count === 0  %>
	<center>
		<h1 id="noRegisters" class="margin-registers-lg"></h1>
	</center>
	<script>
		document.getElementById("noRegisters").innerHTML = "Aún no tienes registros por mostrar";
	</script>
	<%end%>
	<h2 class="text-center space-top-md">Registros de agua</h2>
	<% @registers.where(category_id: 1).each do |register|%>
	<div class="container margin-registers table-responsive">

	<table class="table space-top-xl margin-registers hoverable table-bordered">
		<thead class="info-color black-text">
			<tr>				
				<th class="text-center font-md">Valor</th>
				<th class="text-center font-md">Fecha</th>
				<th class="text-center font-md">Costos adicionales</th>
				<th class="text-center font-md" colspan="3">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>				
				<td class="text-center font-md"><%= register.monto%></td>
				<td class="text-center font-md"><%= register.fecha%></td>
				<td class="text-center font-md"><%= register.costos_adicionales%></td>
				<td class="text-center font-md"><%= link_to register, class:"no-decoration" do %>
					<i class="fa fa-eye "></i>
					Ver registro
					<% end %></td>
					<td class="text-center font-md"><%= link_to edit_register_path(register), class:"no-decoration" do%>
						<i class="fa fa-edit"></i>
						Editar
						<%end%></td>
						<td class="text-center font-md"><%= link_to register, method: :delete, class:"no-decoration", data: { confirm: '¿Estás seguro?', } do %>
							<i class="fa fa-trash"></i>
							Eliminar
							<%end%></td>

						</tr>
						<%end%>
					</tbody>

				</table>

	</div>
	


<%elsif request.original_url === 'http://localhost:3000/categories/2' || request.original_url === 'https://spendoe.herokuapp.com/categories/2'%>
	<%if @registers.where(category_id: 2).count === 0  %>
	<center>
		<h1 id="noRegisters" class="margin-registers-lg"></h1>
	</center>
	<script>
		document.getElementById("noRegisters").innerHTML = "Aún no tienes registros por mostrar";
	</script>
	<%end%>
	<h2 class="text-center space-top-md">Registros de luz</h2>
	<% @registers.where(category_id: 2).each do |register|%>
	<div class="container margin-registers table-responsive">		

	<table class="table space-top-xl margin-registers hoverable table-bordered">
		<thead class="black-text" style="background-color: #eeee7f">
			<tr>			
				<th class="text-center font-md">Valor</th>
				<th class="text-center font-md">Fecha</th>
				<th class="text-center font-md">Costos adicionales</th>
				<th class="text-center font-md" colspan="3">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>				
				<td class="text-center font-md"><%= register.monto%></td>
				<td class="text-center font-md"><%= register.fecha%></td>
				<td class="text-center font-md"><%= register.costos_adicionales%></td>
				<td class="text-center font-md"><%= link_to register, class:"no-decoration" do %>
					<i class="fa fa-eye "></i>
					Ver registro
					<% end %></td>
					<td class="text-center font-md"><%= link_to edit_register_path(register), class:"no-decoration" do%>
						<i class="fa fa-edit"></i>
						Editar
						<%end%></td>
						<td class="text-center font-md"><%= link_to register, method: :delete, class:"no-decoration", data: { confirm: '¿Estás seguro?', } do %>
							<i class="fa fa-trash"></i>
							Eliminar
							<%end%></td>

						</tr>
						<%end%>
					</tbody>

				</table>

	</div>
	</div>


<%elsif request.original_url === 'http://localhost:3000/categories/3' || request.original_url === 'https://spendoe.herokuapp.com/categories/3'%>
	<%if @registers.where(category_id: 3).count === 0  %>
	<center>
		<h1 id="noRegisters" class="margin-registers-lg"></h1>
	</center>
	<script>
		document.getElementById("noRegisters").innerHTML = "Aún no tienes registros por mostrar";
	</script>
	<%end%>
	<% @registers.where(category_id: 3).each do |register|%>
	<div class="container margin-registers table-responsive">
		<table class="table space-top-xl margin-registers hoverable table-bordered">
		<thead class="black-text" style="background-color: #fe855e">
			<tr>			
				<th class="text-center font-md">Valor</th>
				<th class="text-center font-md">Fecha</th>
				<th class="text-center font-md">Costos adicionales</th>
				<th class="text-center font-md" colspan="3">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>				
				<td class="text-center font-md"><%= register.monto%></td>
				<td class="text-center font-md"><%= register.fecha%></td>
				<td class="text-center font-md"><%= register.costos_adicionales%></td>
				<td class="text-center"><%= link_to register, class:"no-decoration" do %>
					<i class="fa fa-eye "></i>
					Ver registro
					<% end %></td>
					<td class="text-center font-md"><%= link_to edit_register_path(register), class:"no-decoration" do%>
						<i class="fa fa-edit"></i>
						Editar
						<%end%></td>
						<td class="text-center font-md"><%= link_to register, method: :delete, class:"no-decoration", data: { confirm: '¿Estás seguro?', } do %>
							<i class="fa fa-trash"></i>
							Eliminar
							<%end%></td>

						</tr>
						<%end%>
					</tbody>

				</table>

	</div>
	</div>


<%elsif request.original_url === 'http://localhost:3000/categories/4' || request.original_url === 'https://spendoe.herokuapp.com/categories/4'%>
	<%if @registers.where(category_id: 4).count === 0  %>
	<center>
		<h1 id="noRegisters" class="margin-registers-lg"></h1>
	</center>
	<script>
		document.getElementById("noRegisters").innerHTML = "Aún no tienes registros por mostrar";
	</script>
	<%end%>
	<% @registers.where(category_id: 4).each do |register|%>
	<div class="container margin-registers table-responsive">
		<table class="table space-top-xl margin-registers hoverable table-bordered">
		<thead class="black-text" style="background-color: #8a8181">
			<tr>			
				<th class="text-center font-md">Valor</th>
				<th class="text-center font-md">Fecha</th>
				<th class="text-center font-md">Costos adicionales</th>
				<th class="text-center font-md" colspan="3">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>				
				<td class="text-center font-md"><%= register.monto%></td>
				<td class="text-center font-md"><%= register.fecha%></td>
				<td class="text-center font-md"><%= register.costos_adicionales%></td>
				<td class="text-center font-md"><%= link_to register, class:"no-decoration" do %>
					<i class="fa fa-eye "></i>
					Ver registro
					<% end %></td>
					<td class="text-center font-md"><%= link_to edit_register_path(register), class:"no-decoration" do%>
						<i class="fa fa-edit"></i>
						Editar
						<%end%></td>
						<td class="text-center font-md"><%= link_to register, method: :delete, class:"no-decoration", data: { confirm: '¿Estás seguro?', } do %>
							<i class="fa fa-trash"></i>
							Eliminar
							<%end%></td>

						</tr>
						<%end%>
					</tbody>

				</table>

	</div>
	</div>

<%end%>


