<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="">
	<meta charset="UTF-8">
	<title>Reporte</title>

	<%= wicked_pdf_stylesheet_link_tag 'pdf'%>
	<%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"%>

</head>
<body>

<%= yield%>

</body>
</html>